@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import './equation.scss';
@import './color_picker.scss';
@import './about_tab.scss';

body {
    margin: 0;
    padding: 0;
}
#page_container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}

#canvas {
    
    border: 2px solid black;
}

#visualizer1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.app_title {
    margin: 0;
    position: absolute;
    top: 7px;
    left: 7px;
    font-family: 'Reenie Beanie', cursive;
    font-weight: 100;
    font-size: 40px;
}


#author {
    display: flex;
    align-items: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 25px;
    font-weight: 550;
    position: absolute;
    bottom: 7px;
    right: 7px;
    color: black;
    p {
        margin: 0;
        margin-right: 7px;
    }
    a {
        color: black;
    }
    a:hover {
        color: rgb(224, 120, 0);
    }
    
}

